// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  display: grid;
  gap: 24px;
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #dfe0e5;
  background: #fafafb;
  padding: toRem(24);
  padding-right: toRem(24);
  border-radius: toRem(8);
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  align-items: center;

  -webkit-tap-highlight-color: transparent;

  @media (max-width: $mobile) {
    padding: toRem(16);
    padding-right: toRem(45);
    font-size: 14px;
    min-height: 58px;
  }
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
  ._spoller-init & {
    cursor: pointer;
    // &::before,
    &::after {
      content: '';
      position: absolute;
      background-image: url('../../img/icons/close.svg');
      right: 10px;
      top: 35%;
      transition: transform 0.5s ease 0s;
      // background-color: #171724;
      // height: 2px;
      // width: 15px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(45deg);

      @media (max-width: $mobile) {
        top: 30%;
      }
    }
    &._spoller-active {
      background: #fafafb;
      border-radius: toRem(8) toRem(8) 0 0;
      border-bottom: 0;
      &::before {
      }
      &::after {
        transform: rotate(0deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(24);
  padding-top: 0;

  border-radius: 0 0 toRem(8) toRem(8);
  border: 1px solid #dfe0e5;
  border-top: 0;

  background: #fafafb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #727281;

  @media (max-width: $mobile) {
    padding: toRem(16);
    padding-top: 0;

    font-size: 14px;
  }
}
