// Заголовки, общие БЄМ блоки и прочее...
html {
  font-style: normal;
}

.main-btn {
  padding: 10px 12px;
  border-radius: 8px;
  background: #fafafb;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
