.header {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;

  @media (max-width: $tablet) {
    top: 0;
  }
  &__container {
    @media (max-width: $tablet) {
      padding: 0;
    }
  }
  &__body {
    height: 72px;
    margin-bottom: 60px;
    border-radius: 12px;
    background: #fafafb;
    box-shadow: 0px 4px 112px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 10px 40px;
    justify-content: space-between;
    gap: 30px;

    position: relative;
    z-index: 4;

    @media (max-width: $tablet) {
      padding: 10px 20px;
      height: 64px;
      border-radius: 0 0 12px 12px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 35px;
    }
  }

  // .header__body-reverse
  .header__body-reverse {
    flex-direction: row-reverse;
  }

  // .header__logo
  &__logo {
    margin-bottom: 22px;

    @media (max-width: $tablet) {
      margin-bottom: 15px;
    }
  }

  // .header__logo-img
  &__logo-img {
  }

  // .header__menu
  &__menu {
    display: flex;

    @media (max-width: $tablet) {
      position: absolute;
    }
  }

  // .header__socials
  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .header__tg
  &__tg {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .header__wa
  &__wa {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .header__phone
  &__phone {
    &:hover {
      text-decoration: underline;
    }
  }

  // .header__phone-desktop
  &__phone-desktop {
    text-wrap: nowrap;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .header__phone-mobile
  &__phone-mobile {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  // .header__email
  &__email {
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.menu {
  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptiveValue('column-gap', 60, 10);
    // gap: 60px;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 0;
    }
  }

  // .menu__item
  &__item {
    @media (max-width: $tablet) {
      border-bottom: 1px solid #727281;
      padding: 8px 0;
      font-weight: 400;
    }
  }

  .dropdown {
    cursor: pointer;

    @media (min-width: $tablet) {
      &:hover {
        .menu__sublist {
          opacity: 1;
          visibility: visible;
          height: auto;
          width: auto;
        }
      }
    }
  }

  // .menu__link
  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  // .menu__sublist
  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 12px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;
    transition-delay: 0.2s;

    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 4px 112px 0px rgba(0, 0, 0, 0.2);
    margin-left: -40px;
    padding: 40px;
    background: #fafafb;

    position: absolute;
    z-index: 2;
    top: 72px;
    font-weight: 400;

    @media (max-width: $tablet) {
      position: static;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      transition-delay: 0s;
    }
  }

  .sub-active {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
  }

  .dropdown-active {
    font-weight: 600;
  }

  // .menu__subitem
  &__subitem {
  }

  // .menu__sublink
  &__sublink {
    &:hover {
      text-decoration: underline;
    }
  }
}

// .header__menu-label

.header__menu-label {
  z-index: 9;
  font-weight: 600;
}
