.projects {
  margin-bottom: 60px;
  padding-top: 136px;

  @media (max-width: $mobile) {
    margin-bottom: 40px;
    padding-top: 84px;
  }

  // .projects__container
  &__container {
  }

  // .projects__title
  &__title {
    margin-bottom: 40px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #225156;
    text-align: center;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  // .projects__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .projects__item
  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__imgs {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .projects__img
  &__img {
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  // .projects__item-title
  &__item-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
